.issues__ranking
  .issues__ranking__top
    .issues__ranking__top__left.inline
      %p グループ ランキング
    .issues__ranking__top__right.inline
      .ra__date.week
        = link_to "#" do
          週間
      .ra__date.month
        = link_to "#" do
          月間
      .ra__date.all
        = link_to "#" do
          全て

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline
        = fa_icon 'trophy', class: "ra__count-one"
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline
        = fa_icon 'trophy', class: "ra__count-two"
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline
        = fa_icon 'trophy', class: "ra__count-three"
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline.num
        ３
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline.num
        ４
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions

  .issues__ranking__user
    .issues__ranking__user-content.inline
      .ra__count.inline.num
        ５
      .ra__icon.inline
        = link_to "#" do
          = image_tag "umihebi.png", class: "mini"
      .ra__user.inline
        .ra__user-nickname
          = link_to "#" do
            %span Umihebi
    .issues__ranking__user-num.inline
      .ra__number 400
      %p Contributions
