.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        How to 速度改善 ーWebパフォーマンスについて知っておきたいこと7選ー
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        [git] gitconfigで会社用アカウントと個人用アカウントを楽に使い分けする
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        AWS導入前に知っておきたかった「AWSアカウント設計」
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        How to 速度改善 ーWebパフォーマンスについて知っておきたいこと7選ー
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        [git] gitconfigで会社用アカウントと個人用アカウントを楽に使い分けする
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        AWS導入前に知っておきたかった「AWSアカウント設計」
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        How to 速度改善 ーWebパフォーマンスについて知っておきたいこと7選ー
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        [git] gitconfigで会社用アカウントと個人用アカウントを楽に使い分けする
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        AWS導入前に知っておきたかった「AWSアカウント設計」
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        How to 速度改善 ーWebパフォーマンスについて知っておきたいこと7選ー
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        [git] gitconfigで会社用アカウントと個人用アカウントを楽に使い分けする
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18

.issues__main__item
  =link_to "#" do
    = image_tag "umihebi.png", class: "issues__main__item__user-image"
  .issues__main__item__right
    .issues__main__item__right-title
      = link_to "#" do
        AWS導入前に知っておきたかった「AWSアカウント設計」
    .issues__main__item__right-info
      .right-info__user.inline
        by
        %span
          = link_to "#" do
            Umihebi
      .right-info__time.inline
        ２ days ago
      .right-info__like.inline
        = fa_icon('thumbs-o-up')
        %span 18
